.content_page_home{
    height: 86vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    /* padding: 0 15vw; */
}

